<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>concord.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFC1F6BF2848D77C003D82CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFC1F6D52848D77E003D82CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFC1F6DF2848D77E003D82CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
